.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.pageLabelContainer {
  font-size: 14px;
}

.welcomeContainer {
  font-size: 32px;
}
